<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dinner Bell</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>
</head>

<body>
  <header>
    <nav class='red nav-wrapper'>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id='nav-mobile' class='hide-on-med-and-down'>
        <li>
          <a href='/'>there's</a>
        </li>
        <li>
          <a href='#'>still</a>
        </li>
        <li>
          <a href='#'>dinner</a>
        </li>
        <li>
          <a href='#'>on my dinner jacket</a>
        </li>
        <li>
          <a href='/saved'>'til the dinner bell rings</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/">there's</a></li>
        <li><a href="#">still</a></li>
        <li><a href="#">dinner</a></li>
        <li><a href="#">on my dinner jacket</a></li>
        <li><a href="/saved">'til the dinner bell rings</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div>
      <h1>Here's the header</h1>
      <p>WELCOME</p>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <p><span>Copyright &copy 2018</span></p>
      </div>
    </div>
  </footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>
<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
</body>
</html>