<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dinner Bell</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css'>

  <link rel='stylesheet' href='../public/assets/css/style.css'>
</head>

<body>
  <header>
    <nav class='transparent nav-wrapper'>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
      <ul id='nav-mobile' class='hide-on-med-and-down'>
        <li>
          <a href='/' title='Home'>Home</a>
        </li>
        <li>
          <a href='/calendar'>Calendar</a>
        </li>
        <li>
          <a href='/saved' title='Saved'>Saved</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/" class='white-text'>Home</a></li>m
        <li class='white-text'><a href="/calendar" class='white-text'>Calendar</a></li>
        <li class='white-text'><a href="/saved" class='white-text'>Saved</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class='container'>
      <div>
        <h1>Dinner Bell</h1>
        <h2>Come and get it!</h2>
      </div>
      <div class='main-btn'>
        <form>
          <input type='text' id='searchbar' placeholder='What kind of recipe are you looking for?'>
          <input type='submit' id='submit' class='btn waves-effect waves-light'>
        </form>
      </div>
      <div id='tiles-go-here'>

      </div>
      <div class='multiple-items'>


      </div>
    </div>

  </main>

  <footer class='page-footer black'>
    <div class='container'>
      <div class='row'>
        <p><span>Copyright &copy 2018</span></p>
        <p>Powered by the <a href='http://food2fork.com/'>Food2Fork</a> API!</p>
      </div>
    </div>
  </footer>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>
  <script src='../public/assets/js/app.js'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'></script>

  <script>
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    });
  </script>
  <script type="text/javascript">
    function itsToasted() {
      Materialize.toast("Recipe saved!", 4000)
    }

    $(document).on("click", ".add-recipe", itsToasted);
  </script>
</body>
</html>