input::-webkit-input-placeholder { /* WebKit browsers */
  color: red !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: red !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: red !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: red !important;
}

li {
  background-color: black;
}

#tiles-go-here {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-btn {
  text-align: center;
}

.recipe {
  text-align: center;
}

.recipe img {
  width: 100%;
}

.transparent {
  background-color: RGBA(255, 255, 255, 0.2);
}
