body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: red !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: red !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: red !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: red !important;
}

li {
  background-color: black;
}

a {
  color: red;
}

a:hover {
  color: aqua;
}

#tiles-go-here, #saved-recipes {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5em;
}

.add-recipe {
  cursor: pointer;
}

.main-btn {
  text-align: center;
}

.recipe, .recipe-that-is-saved {
  text-align: center;
  align-self: center;
}

.recipe img {
  max-width: 100%;
}

.recipe-that-is-saved img {
  max-width: 100%;
}

.transparent {
  background-color: RGBA(255, 255, 255, 0.2);
}
