body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: red !important;
  font-style: italic;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: red !important;
  font-style: italic;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: red !important;
  font-style: italic;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: red !important;
  font-style: italic;
}

nav .brand-logo {
  color: black;
  font-family: 'Permanent Marker', cursive;
}

nav a:hover {
  color: red;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 40px;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}


#tiles-go-here a {
  color: red;
}

#tiles-go-here a:hover {
  color: #26a69a;
}

.footer-link {
  color: #26a69a;
}

#nav-mobile li, #mobile li {
  background-color: black;
  color: white;
}

#mobile li:hover {
  background-color: #26a69a;
}

.saved-link {
  color: red;
  font-weight: 600;
}

.saved-link:hover {
  color: #26a69a;
}

.side-nav li a:hover {
  background-color: white;
  color: black;
}

.side-nav li a {
  background-color: black;
  color: white;
}

#tiles-go-here, #saved-recipes {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5em;
}

#calendar-goes-here {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1.5em;
}

#calendar-goes-here div {
  min-height: 18vh;
}

.add-recipe {
  cursor: pointer;
}

.main-btn {
  text-align: center;
  margin-bottom: 30px;
}

.multiple-items {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.page-footer {
  margin-top: 30px;
}

.recipe, .recipe-that-is-saved {
  text-align: center;
  align-self: center;
}

.recipe img {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-that-is-saved img {
  max-width: 100%;
  border-radius: 10px;
}

.saved-photo {
  margin-bottom: 10px;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-next, .slick-prev {
  width: 50px;
  height: 50px;
}

.slick-next:before, .slick-prev:before {
  color: red;
  font-size: 40px;
  width: 50px;
  height: 50px;
}

.slick-slide {
  align-self: center;
  text-align: center;
}

.slides {
  text-align: center;
  align-self: center;
  padding: 10px;
}

.slides img {
  width: 100%;
}

.transparent {
  background-color: RGBA(255, 255, 255, 0.2);
}


@media only screen and (max-width: 992px) {
  #saved-recipes {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 50px;
  }

  #saved-recipes {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
    margin-top: 1.5em;
  }
}